<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" > <!-- No Bar -->
        <activity android:name=".Level_3_GuessPicture" />
        <activity android:name=".Level_2_GuessPicture" />
        <activity android:name=".Level_1_GuessPicture" />
        <activity android:name=".LevelGuessPicture" />
        <activity android:name=".Game" />
        <activity android:name=".PeriodicTable" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>